
.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.featureSvg {
  height: 160px;
  width: 160px;
  opacity: 0.5;
  filter: invert(52%) sepia(0%) saturate(11%) hue-rotate(135deg) brightness(89%) contrast(89%);
}

.featureTitle {
  margin-top: 10px;
}